# Byte-compiled files and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment variables and secret files
.env

# SQLite database file
todo.db

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDE and editor settings
.vscode/
.idea/

test_kafka.py/
todo.db/